*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* DEBUG */

/* .debug .header-row,
.debug .card-row{
    border: 2px dotted lightcoral;
}
.debug .nav,
.debug .card{
    border: 2px dotted lightgreen;
}

 */

/* GENERAL */

.container{
    max-width: 1200px;
    margin: auto;
    width: 80%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit;
}
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}

/* HEADER */
header{
    background-color: #FF6900;
    color: white;
}
header .nav .logo {
    height: 25px;
}

.header-row{
    align-items: center;
    justify-content: space-between;
}
header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    top: 0;
}
/* MAIN */

main section{
    margin: 60px 0;
}
img{
    width: 100%;
    display: block;
    
}
/* card spacing */
.card-row{
    margin: -10px;
}
.card{
    width: calc((100% / 3) - 10px);
    margin: 5px 5px;
}
/* card end */

.item-description ul li{
    display: block;
}
.tags{
    bottom: 30px;
}
 .tags li{
    color: white;
    font-weight: bold;
    font-size: 0.5em;
    padding: 5px 8px;
} 

.discount{
    background-color: red;
    
}
.green{
    background-color: green;
    
}

.item-hover{
    display: none;
}
.item:hover .product-image{
    display: none;
}
.item:hover .item-hover{
    display: block;
}


/*  FOOTER */

footer{
    background-color: black;
    color: white;
    padding: 20px 0;
}

.footer-column li{
    font-size: 0.6em;
}
.footer-row{
    justify-content: space-between;
}
