*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* DEBUG */

.debug .header-row,
.debug .card-row{
    border: 2px dotted lightcoral;
}
.debug .nav,
.debug .card{
    border: 2px dotted lightgreen;
}

.debug .card{
    height: 50px;
    width: calc(100% / 3);
}
/* GENERAL */

.container{
    max-width: 1200px;
    margin: auto;
    width: 80%;
}
.flex{
    display: flex;
}

li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit;
}
/* HEADER */
header{
    background-color: #FF6900;
    color: white;
}
header .nav .logo {
    height: 25px;
}

.header-row{
    justify-content: space-between;
    align-items: center;
}

/* MAIN */

main section{
    margin-top: 60px;
}

.card-row .flex{
    flex-wrap: wrap;
}